In [1]:
import pandas as pd
from configurator.loader import build_message_data, load_config_tcp

In [2]:
config = load_config_tcp()

In [3]:
messages = config.apply(build_message_data, axis="columns").to_list()
df_m = pd.DataFrame.from_records(
    messages,
)

df_m

,type,circuit,name,comment,QQ,ZZ,PBSB,ID,num_fields,fields
0,u,broadcast,datetime,Datum/Uhrzeit,NaN,fe,0700,NaN,3,name ms datatypes_templates divider...
1,u,broadcast,error,Fehlernachricht,NaN,fe,fe01,NaN,1,name ms datatypes_templates divider_value...
2,u,broadcast,hwcStatus,Status Warmwasser,NaN,fe,b505,27,3,name ms datatypes_templates divider_values...
3,u,broadcast,id,Identifikation,NaN,fe,0704,NaN,4,name ms datatypes_templates \ 0 m...
4,r,broadcast,id,Identifikation,NaN,NaN,0704,NaN,4,name ms datatypes_templates \ 0 m...
...,...,...,...,...,...,...,...,...,...,...
534,r,vwzio,xUnknown69,NaN,NaN,76,b514,056903ffff,2,name ms datatypes_templates divider_values...
535,r,vwzio,xUnknown6A,NaN,NaN,76,b514,056a03ffff,2,name ms datatypes_templates divider_values...
536,r,vwzio,xUnknown7B,NaN,NaN,76,b514,057b03ffff,2,name ms datatypes_templates divider_values...
537,r,vwzio,xUnknown80,NaN,NaN,76,b514,058003ffff,2,name ms datatypes_templates divider_values...
538,r5,vwzio,YieldTotal,NaN,NaN,76,b516,1801,2,name ms datatypes_templates divider_valu...